

/* min width in standard template is too wide for our many Win, Played etc table columns */

th,
td {
  @include fs-3;
  min-width: 10px;
  padding-top: $sp-2;
  padding-right: $sp-3;
  padding-bottom: $sp-2;
  padding-left: $sp-3;
  background-color: $table-background-color;
  border-bottom: $border rgba($border-color, 0.5);
  border-left: $border $border-color;

  &:first-of-type {
    border-left: 0;
  }
}


/*.site-nav, .site-header, .site-footer {
  width: 100%;
}

.side-bar {
  @include mq(lg) {
    width: $nav-width;
  }
}

.main {
  @include mq(lg) {
    margin-left: $nav-width;
  }
}
*/